body {
  background: #fafafa url('http://placekitten.com/g/2048/900') no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  text-align: center;
}
.rectitle {
  background: transparent;
  margin: 0px auto;
}
