body {
  background: #fafafa url('http://placekitten.com/g/2048/900') no-repeat;
  color: #333;
  text-align: center;
}
h1 {
  text-transform: capitalize;
}
.rectitle {
  background: transparent;
  margin: 0px auto;
}
